---
http_interactions:
- request:
    method: get
    uri: http://api.eventful.com/json/events/search?app_key=2mcbdwmP9pRvXZNN&where=39.750081,-104.999703&within=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"last_item":null,"total_items":"3601","first_item":null,"page_number":"1","page_size":"10","page_items":null,"search_time":"0.038","page_count":"361","events":{"event":[{"watching_count":null,"olson_path":"America/Denver","calendar_count":null,"comment_count":null,"region_abbr":"CO","postal_code":"80211","going_count":null,"all_day":"0","latitude":"39.7662350","groups":null,"url":"http://denver.eventful.com/events/fermentation-festival-mar-/E0-001-085217238-3@2015091215?utm_source=apis&utm_medium=apim&utm_campaign=apic","id":"E0-001-085217238-3@2015091215","privacy":"1","city_name":"Denver","link_count":null,"longitude":"-105.0243980","country_name":"United States","country_abbr":"USA","region_name":"Colorado","start_time":"2015-09-12 15:30:00","tz_id":null,"description":" A celebration of all things fermented and pickled ","modified":"2015-06-24 23:38:15","venue_display":"1","tz_country":null,"performers":null,"title":"Fermentation Festival & Market","venue_address":"3550 Federal Boulevard","geocode_type":"EVDB Geocoder","tz_olson_path":null,"recur_string":"daily until September 13, 2015","calendars":null,"owner":"evdb","going":null,"country_abbr2":"US","image":null,"created":"2015-06-24 23:38:15","venue_id":"V0-001-002021082-6","tz_city":null,"stop_time":null,"venue_name":"Highlands Masonic Center","venue_url":"http://denver.eventful.com/venues/highlands-masonic-center-/V0-001-002021082-6?utm_source=apis&utm_medium=apim&utm_campaign=apic"},{"watching_count":null,"olson_path":"America/Denver","calendar_count":null,"comment_count":null,"region_abbr":"CO","postal_code":null,"going_count":null,"all_day":"0","latitude":"39.7392358","groups":null,"url":"http://denver.eventful.com/events/ecm-work-dayvilla-park-west-colfax-neighborhood-/E0-001-080636462-2?utm_source=apis&utm_medium=apim&utm_campaign=apic","id":"E0-001-080636462-2","privacy":"1","city_name":"Denver","link_count":null,"longitude":"-104.990251","country_name":"United States","country_abbr":"USA","region_name":"Colorado","start_time":"2015-10-17 09:00:00","tz_id":null,"description":" <strong>Sponsored by:</strong> Extreme Community Makeover<br> <strong>Minimum age:</strong> 8<br> Extreme Community Makeover (ECM) is designed to invite volunteers into apartnership with residents of specific Denver neighborhoods to complete homeand neighborhood improvement projects. These projects include graffitiremoval, landscaping, painting, yard work, or other projects identified bythe res . . .","modified":"2015-02-20 05:25:03","venue_display":"0","tz_country":null,"performers":null,"title":"ECM Work Day,Villa Park & West Colfax Neighborhood","venue[...]
