@import "custom";


div#map {
position: absolute;
top: 0px;
bottom: 0;
width: 100%;
}

.leaflet-left {
  left: 35px;
}

.leaflet-top {
  top: 140px;
}


.leaflet-container {
    font-family: $heading-font-family;
    font-size: 1.0em;

    h2 {
      font-size: 1.2em;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.7);
      margin: 0px 0 0px 0;
    }

    h3 {
      font-weight: 700;
    }

    hr {
      margin-top: 10px;
      margin-bottom: 10px;
      border: 0;
      border-top: 1px solid #eeeeee;
    }

    a:hover, {
      color: black;
    }

}


.leaflet-popup-content-wrapper, .map-legends, .map-tooltip {
  background: #fff;
  border-radius: 9px;
  border: 3px dotted $primary-color;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);


}

.leaflet-popup-content {
  padding: 15px 15px 15px;
  margin: 0;
  line-height: inherit;
  text-align: center;



    .btn-default {
      color: white;
      background-color: $primary-color;
      border-color: #ccc;
      margin: 10px 10px 5px 10px;


}


}
